@{
    ViewBag.Title = "Agenda";
}
<legend>@ViewBag.Title</legend>
<div class="float-none">
    @Html.ActionLink("Novo Atendimento", "Create", "Agenda", new { @class = "btn btn-primary btn-sm" })
</div>
<br />  
<div class="table-responsive">
    <table class="table table-agenda table-striped table-hover display table-responsive nowrap">
        <thead>
            <tr>
                <th>Horário</th>
                <th>Funcionário 1</th>
                <th>Funcionário 2</th>
                <th>Funcionário 3</th>
                <th>Funcionário 4</th>
                <th>Funcionário 5</th>
                <th>Funcionário 6</th>
                <th>Funcionário 7</th>
                <th>Funcionário 8</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>8:00</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td class="success"><a href="#">Rafael</a></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>9:00</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td class="success"><a href="#">Rafael</a></td>
                <td>-</td>
                <td>-</td>
                <td class="success"><a href="#">Rafael</a></td>
                <td>-</td>
            </tr>
            <tr>
                <td>10:00</td>
                <td>-</td>
                <td class="info"><a href="#">Leonardo</a></td>
                <td>-</td>
                <td>-</td>
                <td class="warning"><a href="#">JoJo</a></td>
                <td>-</td>
                <td class="warning"><a href="#">JoJo</a></td>
                <td>-</td>
            </tr>
            <tr>
                <td>11:00</td>
                <td class="success"><a href="#">Danielly</a></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>12:00</td>
                <td></td>
                <td>-</td>
                <td class="danger"><a href="#">Rafael</a></td>
                <td>-</td>
                <td>-</td>
                <td class="danger"><a href="#">JoJo</a></td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>13:00</td>
                <td>-</td>
                <td class="warning"><a href="#">Leonardo</a></td>
                <td>-</td>
                <td class="danger"><a href="#">Rafael</a></td>
                <td>-</td>
                <td>-</td>
                <td class="warning"><a href="#">Rafael</a></td>
                <td>-</td>
            </tr>
            <tr>
                <td>14:00</td>
                <td>-</td>
                <td>-</td>
                <td class="success"><a href="#">Rafael</a></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td class="success"><a href="#">Rafael</a></td>
            </tr>
            <tr>
                <td>15:00</td>
                <td>-</td>
                <td class="warning"><a href="#">Leonardo</a></td>
                <td>-</td>
                <td>-</td>
                <td class="danger"><a href="#">Rafael</a></td>
                <td>-</td>
                <td class="warning"><a href="#">Rafael</a></td>
                <td>-</td>
            </tr>
            <tr>
                <td>16:00</td>
                <td></td>
                <td>-</td>
                <td class="danger"><a href="#">Rafael</a></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td class="danger"><a href="#">JoJo</a></td>
            </tr>
            <tr>
                <td>17:00</td>
                <td>-</td>
                <td class="warning"><a href="#">Leonardo</a></td>
                <td>-</td>
                <td>-</td>
                <td class="danger"><a href="#">Rafael</a></td>
                <td>-</td>
                <td class="warning"><a href="#">Rafael</a></td>
                <td>-</td>
            </tr>
            <tr>
                <td>18:00</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td class="info"><a href="#">Leonardo</a></td>
                <td class="success"><a href="#">JoJo</a></td>
                <td>-</td>
                <td class="danger"><a href="#">JoJo</a></td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</div>